<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>BlogShell</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
</head>
<body>
<div class="popup" th:if="${message}">
    <div th:text="${message}"/><span><button class="btn-close">X</button></span>
</div>
<div class="profile hide">
    <p th:text="${currUser}"></p>
    <hr>
    <a class="btn-add" href="/blog/add">Write a Blog</a>
    <a class="btn-manage" href="/blog/manage">Your Blogs</a>
    <a class="btn-bookmark" href="/blog/bookmarks">Read List</a>
    <a class="btn-logout" th:href="@{/logout}">Logout<i class="material-icons">arrow_forward</i></a>
</div>
<div class="nav-background"></div>
    <nav>
        <h1>Blog<span class="highlight">Shell</span></h1>
        <div class="center">Latest <span class="highlight">Feed</span></div>
        <ul>
<!--            <li>Home</li>-->
<!--            <li th:text="${currUser}"></li>-->
            <li><button class="btn-profile"><i class="large material-icons">account_circle</i></button></li>
<!--            <li><a class="btn-logout" th:href="@{/logout}">Logout<i class="material-icons">arrow_forward</i></a></li>-->
        </ul>
    </nav>

    <main class="main-home">
        <section class="main-article">
            <div class="article-wrapper">
                <div class="article-image">
                    <img th:src="@{${article.photosImagePath}}" >
                </div>
                <h2 class="article-title" th:text="${article.title}"></h2>
                <div class="article-attr">
                    <div class="category" th:text="${article.category}"></div>
                    <div class="time">
                        <i class="material-icons">history</i>
                        <h5 class="date" th:text="${dateUtil.getTime(article.dateTime)} + ' ago'"></h5>
                    </div>
                </div>
                <p class="article-description" th:text="${#strings.substring(article.description,0,150) + ' . . . '}">
                <p><a class="btn-read-more" th:href="@{|/blog/${article.id}}">Read More<i class="material-icons">arrow_forward</i></a></p>
                </p>
                <div class="article-footer">
                    <div class="like-bookmark">
                        <div class="like">
                            <h4 th:text="${article.likes}"/>
                            <i class="material-icons">thumb_up</i>
                        </div>
                    </div>
                    <h3 class="article-author" th:text=" '-' + ${article.author}"></h3>
                </div>
            </div>
        </section>
        <section class="feed">
                <div class="wrapper-feed">
                <h4 th:if="${blogs.isEmpty()}" th:text="'(No Blogs)'"></h4>
                <div class="blog" th:each="blog : ${blogs}">
                    <div class="text-content">
                        <div class="header">
<!--                            <div class="category" th:text="${blog.category}"></div>-->
                            <div class="time">
                                <i class="material-icons">history</i>
                                <h5 class="date" th:text="${dateUtil.getTime(blog.dateTime)} + ' ago'"></h5>
                            </div>
                        </div>
                        <h2 class="title" th:text="${blog.title}"></h2>
<!--                        <p class="description" th:text="${#strings.substring(blog.description,0,150) + ' . . . '}"></p>-->
                        <p><a class="btn-read-more" th:href="@{|/blog/${blog.id}}">Read this article<i class="material-icons">arrow_forward</i></a></p>
                        <div class="footer">
                            <div class="like-bookmark">
                                <div class="like">
                                    <h4 th:text="${blog.likes}"/>
                                    <i class="material-icons">thumb_up</i>
                                </div>
<!--                                <div class="bookmark">-->
<!--                                    <i class="material-icons">bookmark</i>-->
<!--                                </div>-->
                            </div>
                            <h3  class="author" th:text=" '-  ' + ${blog.author}"></h3>
                        </div>
                    </div>
                    <div class="image-content">
                        <img class="thumbnail" th:src="@{${blog.photosImagePath}}" />
                    </div>
                </div>
<!--                        <p class="description" th:text="${#strings.substring(blog.description,0,150) + ' . . . '}"></p>-->



                    <!--            <a th:href="@{|/blog/delete/${blog.id}}">Delete</a>-->
                    <!--           <a th:href="@{|/blog/edit/${blog.id}}">Edit</a>-->
                </div>
            </div>
        </section>
        <section class="side">
            <h2>What's up ?</h2>
            <br/>
            <div class="actions">
<!--                <a class="btn-add" href="/blogs">Feed</a>-->
                <a class="btn-add" href="/blog/add"><i class="material-icons">text_format</i> <span>Write a Blog</span></a>
                <a class="btn-manage" href="/blog/manage"><i class="material-icons">library_books</i> <span>Your Blogs</span></a>
                <a class="btn-bookmark" href="/blog/bookmarks"><i class="material-icons">collections_bookmark</i> <span>Read List</span></a>
            </div>
            <br />
<!--            <div class="categories">-->
<!--                <h2>Categories </h2>-->
<!--                <br/>-->
<!--                &lt;!&ndash;                <form>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <div>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <input class="search" type="text" placeholder="Search By Category">&ndash;&gt;-->
<!--                &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                </form>&ndash;&gt;-->
<!--                <div class="container-categories" th:each="category : ${categories}">-->
<!--                    <span>-->
<!--                        <i class="material-icons">call_made</i>-->
<!--                        <a class="link-category" th:text = "${category}" th:href="@{|/blog/category/${category}}"></a>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </div>-->
        </section>
    </main>
    <hr>
    <br>
<h2 id="tab1" class="browse-header">Browse by <span class="highlight">Category</span></h2>
    <div class="browse-by-category-container">
        <div class="browse-categories">
            <div class="category-container" th:each="category : ${categories}">
                <i class="material-icons">call_made</i>
                <a class="link-category" th:text = "${category}" th:href="@{|/blog/category/${category}}"></a>
            </div>
        </div>
        <div class="browse-wrapper">
            <h4 style="width:100%" th:if="${categoryBlogs.isEmpty()}" th:text="'(No Blogs)'"></h4>
            <div class="blog" th:each="blog : ${categoryBlogs}">
                <div class="text-content">
                    <div class="header">
                        <div class="category" th:text="${blog.category}"></div>
                            <h5  class="date" th:text="${#dates.format(blog.dateTime, 'dd MMM,yyyy HH:mm')}"></h5>
<!--                            <div class="take-actions">-->
<!--                                <a style="margin-right:1rem;" class="icon-btn" th:href="@{|/blog/edit/${blog.id}}"><i class="material-icons">edit</i></a>-->
<!--                                <a class="icon-btn btn-delete" th:href="@{|/blog/delete/${blog.id}}"><i class="material-icons">delete</i></a>-->
<!--                            </div>-->
                    </div>
                    <h2 class="title" th:text="${blog.title}"></h2>
                    <p class="description" th:text="${#strings.substring(blog.description,0,150) + ' . . . '}"></p>
                    <p><a class="btn-read-more" th:href="@{|/blog/${blog.id}}">Read More<i class="material-icons">arrow_forward</i></a></p>
                    <div class="footer">
                            <div class="like-bookmark">
                                <div class="like">
                                    <h4 th:text="${blog.likes}"/>
                                    <i class="material-icons">thumb_up</i>
                                </div>
                            </div>
                            <h3  class="author" th:text=" '-  ' + ${blog.author}"></h3>
                        </div>
                    </div>
                    <div class="browse-image-content">
                        <img class="thumbnail" th:src="@{${blog.photosImagePath}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</body>
<script defer>
    const popup = document.querySelector(".popup");
    const closeBTN = document.querySelector(".btn-close");
    const profileBTN = document.querySelector(".btn-profile");
    const profile = document.querySelector(".profile");

    if(closeBTN){
        closeBTN.addEventListener('click',(e)=>{
          popup.classList.add('anim');
        });
    }

    profileBTN.addEventListener('click',(e)=>{
         profile.classList.toggle("hide");
    });


     window.addEventListener('scroll',(e)=>{
        const nav = document.querySelector('nav');
        if(window.pageYOffset>0){
          nav.classList.add("add-shadow");
        }else{
          nav.classList.remove("add-shadow");
        }
     });
</script>
</html>